In [1]:
import numpy as np
import pandas as pd

In [2]:
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=initiable;AccountKey=+L3U+dbj/0xQz3fKKB7JLRyHPD2YZ8ojOwbe3rC13M9DjIwZBGaaa6AB0AGPgpDOj3uI0xG+pVjmGUAdhOPJEg==;EndpointSuffix=core.windows.net"

In [16]:
container_name = 'hackathon'

In [17]:
import azure
from azure.storage.blob import BlockBlobService

block_blob_service = BlockBlobService(account_name='initiable', account_key='+L3U+dbj/0xQz3fKKB7JLRyHPD2YZ8ojOwbe3rC13M9DjIwZBGaaa6AB0AGPgpDOj3uI0xG+pVjmGUAdhOPJEg==')
containers = block_blob_service.list_containers()

for c in containers:
    print(c.name)

hackathon

In [18]:
print("\nList blobs in the container")
generator = block_blob_service.list_blobs(container_name)
for blob in generator:
    print("\t Blob name: " + blob.name)

List blobs in the container
	 Blob name: sudhanva.jpg

In [29]:
file_name = '06373799245130707-stock_infosys.csv'

In [28]:
local_path = '/home/sudhanva/code/hackathons/initiable-ml/data/' + file_name

print("\nDownloading blob to " + local_path)
block_blob_service.get_blob_to_path(container_name, blob_name=file_name, file_path=local_path)

Downloading blob to /home/sudhanva/code/hackathons/initiable-ml/data/sudhanva.jpg

In [33]:
from io import StringIO
blobstring = blob_service.get_blob_to_text(container_name, blob_name=file_name).content
df = pd.read_csv(StringIO(blobstring))

In [34]:
df.head()

           Date    Close     Open     High      Low  Vol-Million  Change %
0  Jun 18, 2018  1269.20  1281.80  1291.00  1264.05         2.86     -0.01
1  Jun 15, 2018  1281.25  1237.00  1291.50  1235.00         9.98      0.03
2  Jun 14, 2018  1239.70  1253.00  1253.00  1234.10         3.80     -0.02
3  Jun 13, 2018  1264.80  1256.86  1273.93  1256.86         2.88      0.01
4  Jun 12, 2018  1248.63  1255.82  1261.28  1240.64         3.92      0.00